.usersAva {
    display: block;
    width: 40px;
    border-radius: 20px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.users {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "a a a";
}

.user {
    margin: 10px;
}