.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
    grid-template-rows: 1fr;
    padding-top: 10px;
    padding-left: 20px;
}

.textArea {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
}