.nav {
  grid-area: n;
  padding: 10px;
  font-family: sans-serif;
  line-height: 25px;
  height: auto;
}


.active {
  color: rgb(255, 0, 0);
  text-decoration: none;
}

.friendsBar {
  color: blue;
  padding-top: 40px;
  font-size: xx-large;
  text-align: center;
}

.item {
  text-decoration: none;
}

.users {
  margin-top: 10px;
}